@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #F5F6F8;
}

.container {
  display: flex;
  flex-direction: column;
  color: #191F2B;
}

.all_padding {
  padding: 0 7.5rem;
}
@media (max-width: 63.9375em) {
  .all_padding {
    padding: 0 3.125rem;
  }
}

.all_margin {
  margin: 0 7.5rem;
}
@media (max-width: 63.9375em) {
  .all_margin {
    margin: 0 3.125rem;
  }
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav {
  height: 6.25rem;
  background-color: #5964E0;
  border-radius: 0 0 0 2.5rem;
}
@media (max-width: 63.9375em) {
  nav {
    height: 5rem;
  }
}
nav .navbar {
  height: inherit;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-bottom: 0.9375rem;
}
@media (max-width: 63.9375em) {
  nav .navbar {
    padding-bottom: 0;
  }
}
@media (max-width: 63.9375em) {
  nav .navbar__logo {
    transform: scale(0.9);
  }
}
@media (max-width: 31.1875em) {
  nav .navbar__logo {
    transform: scale(0.8);
  }
}
nav .navbar__logo .logoContainer {
  display: flex;
  text-decoration: none;
  cursor: pointer;
}
nav .navbar__logo .logoContainer span {
  font-size: 2.0625rem;
  font-weight: 900;
}
nav .navbar__logo .logoContainer .l {
  color: #B5FFB8;
}
nav .navbar__logo .logoContainer .i1 {
  color: #FAFF00;
}
nav .navbar__logo .logoContainer .s {
  color: #FF9090;
}
nav .navbar__logo .logoContainer .t {
  color: #B5FFB8;
}
nav .navbar__logo .logoContainer .i2 {
  color: #FAFF0D;
}
nav .navbar__logo .logoContainer .e {
  color: #FA51F3;
}
nav .navbar__shopname {
  font-size: 1rem;
  display: flex;
}
@media (max-width: 63.9375em) {
  nav .navbar__shopname {
    transform: scale(0.8);
  }
}
@media (max-width: 31.1875em) {
  nav .navbar__shopname {
    transform: scale(0.7);
  }
}
nav .navbar__shopname > :last-child {
  margin-left: 0.625rem;
  cursor: pointer;
  font-size: 1.125rem;
}
nav .navbar__logout {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.375rem;
}
@media (max-width: 63.9375em) {
  nav .navbar__logout {
    transform: scale(0.8);
  }
}

.search_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.search_container .searchbox {
  display: flex;
  position: relative;
  top: -20px;
  justify-content: space-between;
  align-items: center;
  width: 40.625rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (min-width: 64em) {
  .search_container .searchbox {
    width: 50rem;
  }
}
@media (max-width: 63.9375em) {
  .search_container .searchbox {
    top: 20px;
  }
}
.search_container .searchbox .search {
  display: flex;
}
.search_container .searchbox .search .icon {
  margin: 0.3125rem 0.3125rem 0 1.5625rem;
  font-size: 1.25rem;
  color: #2B79C1;
  cursor: pointer;
}
.search_container .searchbox .search .inputbox {
  display: block;
  border: none;
  margin-left: 0.625rem;
}
.search_container .searchbox .search .inputbox:focus {
  outline: none;
}
.search_container .searchbox .search .inputbox::-moz-placeholder {
  font-size: 0.9375rem;
}
.search_container .searchbox .search .inputbox:-ms-input-placeholder {
  font-size: 0.9375rem;
}
.search_container .searchbox .search .inputbox::placeholder {
  font-size: 0.9375rem;
}
.search_container .searchbox .addbtn {
  font-size: 1.5625rem;
  color: #2B79C1;
  margin-right: 1.5625rem;
  cursor: pointer;
}

.ctype_container {
  margin-top: 1.5625rem;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 63.9375em) {
  .ctype_container {
    margin-top: 2.8125rem;
  }
}
.ctype_container .customertype {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
@media (max-width: 31.1875em) {
  .ctype_container .customertype {
    justify-content: flex-end;
  }
}
.ctype_container .customertype span {
  font-size: 0.8125rem;
  font-weight: bold;
  border-radius: 1.25rem;
  cursor: pointer;
  padding: 0.4375rem 1.125rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ctype_container .customertype .x {
  background-color: rgb(230, 134, 134);
  padding: 0.4375rem 0.625rem;
  margin-right: 0.625rem;
  color: white;
}
@media (max-width: 31.1875em) {
  .ctype_container .customertype .x {
    transform: scale(0.8);
  }
}
.ctype_container .customertype .Retailer {
  background-color: #4760B9;
  color: white;
  margin-right: 0.625rem;
}
@media (max-width: 31.1875em) {
  .ctype_container .customertype .Retailer {
    transform: scale(0.8);
  }
}
.ctype_container .customertype .End-consumer {
  background-color: #F2D5A3;
}
@media (max-width: 31.1875em) {
  .ctype_container .customertype .End-consumer {
    transform: scale(0.8);
  }
}

.main {
  margin-top: 1.25rem;
}
.main .gt {
  display: flex;
  align-items: center;
  margin-bottom: 3.125rem;
}
@media (max-width: 31.1875em) {
  .main .gt {
    margin-bottom: 1.875rem;
  }
}
.main .gt h2 {
  font-weight: 900;
  font-size: 1.875rem;
  margin-right: 1.875rem;
}
@media (max-width: 31.1875em) {
  .main .gt h2 {
    font-size: 1.25rem;
    margin-right: 0.9375rem;
  }
}
.main .gt p {
  padding: 0.25rem 0.875rem;
  background-color: #FF8059;
  border-radius: 1.25rem;
  font-size: 0.8125rem;
  color: white;
  font-weight: bolder;
}
@media (max-width: 31.1875em) {
  .main .gt p {
    transform: scale(0.8);
  }
}
.main .itemtype {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
}
.main .itemtype .typename {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .itemtype .typename .name {
  display: flex;
}
.main .itemtype .typename .name h3 {
  font-weight: 900;
  font-size: 1.375rem;
  margin-right: 1.25rem;
}
@media (max-width: 31.1875em) {
  .main .itemtype .typename .name h3 {
    font-size: 1.125rem;
    margin-right: 0.875rem;
  }
}
.main .itemtype .typename .name p {
  padding: 0.25rem 0.875rem;
  background-color: #8DFF70;
  border-radius: 1.25rem;
  font-size: 0.8125rem;
  font-weight: bolder;
}
@media (max-width: 31.1875em) {
  .main .itemtype .typename .name p {
    transform: scale(0.8);
  }
}
.main .itemtype .typename .more {
  cursor: pointer;
  font-size: 1.5625rem;
  color: #2B79C1;
}
@media (max-width: 31.1875em) {
  .main .itemtype .typename .more {
    transform: scale(0.8);
  }
}
.main .itemtype .items {
  display: flex;
  overflow-x: hidden;
  cursor: pointer;
  padding-top: 1.875rem;
}
.main .itemtype .items > * {
  margin-right: 0.9375rem;
}
.main .itemtype .items .item {
  display: flex;
  flex-direction: column;
  min-width: 9.375rem;
  min-height: 13.75rem;
  background-color: #373740;
  color: white;
  padding: 0.9375rem;
  padding-top: 0;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 63.9375em) {
  .main .itemtype .items .item {
    min-width: 8.125rem;
    min-height: 12.5rem;
  }
}
.main .itemtype .items .item .tag {
  align-self: flex-end;
  position: relative;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  transform: translateY(-0.8125rem);
}
.main .itemtype .items .item .tag.Retailer {
  background-color: #4760B9;
}
.main .itemtype .items .item .tag.End-consumer {
  background-color: #F2D5A3;
}
.main .itemtype .items .item .name {
  display: inline-block;
  text-decoration: none;
  max-width: 5rem;
  color: white;
  margin-bottom: 0.625rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .itemtype .items .item .name:hover {
  color: #2B79C1;
}
.main .itemtype .items .item .name:hover > .nametooltip {
  visibility: visible;
}
.main .itemtype .items .item .name .nametooltip {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px 10px;
  font-size: small;
  border-radius: 5px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 999999;
  top: -0.1875rem;
  left: 1.5625rem;
}
.main .itemtype .items .item .img {
  width: 100%;
  height: 8.125rem;
  margin-bottom: 0.625rem;
}
.main .itemtype .items .item .img img {
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.main .itemtype .items .item .action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main .itemtype .items .item .action > * {
  font-size: larger;
  cursor: pointer;
}
.main .itemtype .items .item .action > :first-child {
  margin-right: 0.625rem;
}
.main .itemtype .items .item .action > :last-child {
  color: rgb(230, 134, 134);
}

.login {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 56.25rem;
  height: 25rem;
  top: 6.25rem;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #373740;
  border-radius: 0.625rem;
  color: white;
}
.login::before {
  content: "Log in";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.625rem;
  top: -50%;
  left: 40px;
  background-color: #000;
  font-weight: bolder;
}
.login h2 {
  width: 20rem;
  transform: translateX(-30%);
  padding: 1.875rem;
  font-size: 1.875rem;
}
.login .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 21.875rem;
  height: 12.5rem;
  transform: translateX(-20%);
  background-color: #000;
  padding: 1.5625rem;
  border-radius: 0.625rem;
}
.login .form input {
  outline: none;
  height: 1.875rem;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 0.625rem;
}
.login .form input:last-child {
  margin-bottom: 0.625rem;
}
.login .form .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .form .action p {
  font-size: 0.75rem;
}
.login .form .action p span {
  color: #5964E0;
  cursor: pointer;
}
.login .form .action .loginbtn {
  cursor: pointer;
  color: white;
  padding: 0.3125rem;
  background-color: #5964E0;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
}

.signup {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 56.25rem;
  height: 25rem;
  top: 6.25rem;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #373740;
  border-radius: 0.625rem;
  color: white;
}
.signup::before {
  content: "Sign Up";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.625rem;
  top: -50%;
  left: 40px;
  background-color: #000;
  font-weight: bolder;
}
.signup h2 {
  width: 20rem;
  transform: translateX(-30%);
  padding: 1.875rem;
  font-size: 1.875rem;
}
.signup .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 21.875rem;
  height: 14.375rem;
  transform: translateX(-20%);
  background-color: #000;
  padding: 1.5625rem;
  border-radius: 0.625rem;
}
.signup .form input {
  outline: none;
  height: 1.875rem;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 0.625rem;
}
.signup .form input:last-child {
  margin-bottom: 0.625rem;
}
.signup .form .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup .form .action p {
  font-size: 0.75rem;
}
.signup .form .action p span {
  color: #5964E0;
  cursor: pointer;
}
.signup .form .action .signupbtn {
  cursor: pointer;
  color: white;
  padding: 0.3125rem;
  background-color: #5964E0;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
}

.additem {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.additem .content {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  height: auto;
  background-color: white;
  padding: 1.875rem;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.additem .content .action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.additem .content .action .backbtn {
  cursor: pointer;
  color: #5964E0;
  font-size: larger;
}
.additem .content .action .savebtn {
  cursor: pointer;
  background-color: #5964E0;
  padding: 0.3125rem 0.625rem;
  color: white;
  border-radius: 5px;
}
.additem .content .iteminfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.additem .content .iteminfo .uploadphoto {
  height: 7.5rem;
  width: 10rem;
  background-color: gray;
  border-radius: 5px;
  margin-right: 1.875rem;
}
.additem .content .iteminfo .uploadphoto img {
  max-width: 100%;
  max-height: 100%;
}
.additem .content .iteminfo .info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.additem .content .iteminfo .info > * {
  height: 1.75rem;
  background-color: #373740;
  border-radius: 5px;
  color: white;
  padding-left: 0.625rem;
}
.additem .content .iteminfo .info > :first-child::-moz-placeholder {
  color: white;
}
.additem .content .iteminfo .info > :first-child:-ms-input-placeholder {
  color: white;
}
.additem .content .iteminfo .info > :first-child::placeholder {
  color: white;
}
.additem .content .table {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.additem .content .table .header {
  display: flex;
  justify-content: space-between;
}
.additem .content .table .header .addbtn {
  cursor: pointer;
  font-size: 1.25rem;
}
.additem .content .table table {
  border-spacing: 0 10px;
}
.additem .content .table td:not(:last-child) > * {
  width: 10rem;
  background-color: #373740;
  border-radius: 5px;
  color: white;
  padding: 0.125rem 0.625rem;
  text-align: center;
}
.additem .content .table td:last-child > * {
  cursor: pointer;
  font-size: 1.25rem;
  margin-left: 1.25rem;
  padding-top: 0.125rem;
  color: rgb(230, 134, 134);
}
.additem .content .table tr > :nth-child(3) {
  text-align: end;
}
.additem .content .table tr > :nth-child(3) > * {
  text-align: start;
}
.additem .content .table tr > :first-child {
  text-align: start;
}

.itemdetails {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.itemdetails .content {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  height: auto;
  background-color: white;
  padding: 1.875rem;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.itemdetails .content .action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.itemdetails .content .action .backbtn {
  cursor: pointer;
  color: #5964E0;
  font-size: larger;
}
.itemdetails .content .action .savebtn {
  cursor: pointer;
  background-color: #5964E0;
  padding: 0.3125rem 0.625rem;
  color: white;
  border-radius: 5px;
}
.itemdetails .content .iteminfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.itemdetails .content .iteminfo .uploadphoto {
  height: 7.5rem;
  width: 10rem;
  border-radius: 5px;
  margin-right: 1.875rem;
}
.itemdetails .content .iteminfo .uploadphoto img {
  max-width: 100%;
  max-height: 100%;
}
.itemdetails .content .iteminfo .info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 1.875rem;
}
.itemdetails .content .iteminfo .info .name {
  font-size: 1.125rem;
  font-weight: bolder;
  color: black;
}
.itemdetails .content .iteminfo .info .Retailer .End-consumer {
  font-size: 0.8125rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.4375rem 1.125rem;
}
.itemdetails .content .iteminfo .info .Retailer {
  background-color: #4760B9;
  color: white;
  padding: 0.4375rem 1.125rem;
  margin-right: 0.625rem;
  font-weight: bolder;
  font-size: 0.625rem;
  border-radius: 1.25rem;
}
.itemdetails .content .iteminfo .info .End-consumer {
  background-color: #F2D5A3;
  font-size: 0.625rem;
  font-weight: bolder;
  padding: 0.4375rem 1.125rem;
  border-radius: 1.25rem;
}
.itemdetails .content .iteminfo .info .type {
  background-color: #e4b2bb;
  font-size: 0.625rem;
  font-weight: bolder;
  padding: 0.4375rem 1.125rem;
  border-radius: 1.25rem;
}
.itemdetails .content .table {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.itemdetails .content .table .header {
  display: flex;
  justify-content: space-between;
}
.itemdetails .content .table .header .addbtn {
  cursor: pointer;
  font-size: 1.25rem;
}
.itemdetails .content .table table {
  border-spacing: 0 10px;
}
.itemdetails .content .table td:not(:last-child) > * {
  width: 10rem;
  background-color: #373740;
  border-radius: 5px;
  color: white;
  padding: 0.125rem 0.625rem;
  text-align: center;
}
.itemdetails .content .table td:last-child > * {
  cursor: pointer;
  font-size: 1.25rem;
  margin-left: 1.25rem;
  padding-top: 0.125rem;
  color: rgb(230, 134, 134);
}
.itemdetails .content .table tr > :nth-child(3) {
  text-align: end;
}
.itemdetails .content .table tr > :nth-child(3) > * {
  text-align: start;
}
.itemdetails .content .table tr > :first-child {
  text-align: start;
}

.deleteitem {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 12.5rem;
  margin-bottom: 6.25rem;
}
.deleteitem .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25rem;
  height: auto;
  background-color: white;
  padding: 1.875rem;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.deleteitem .content .action {
  display: flex;
  width: 100%;
  margin-top: 1.875rem;
  justify-content: flex-end;
  margin-right: 3.125rem;
}
.deleteitem .content .action > * {
  padding: 0.3125rem 0.625rem;
  color: white;
  border-radius: 5px;
}
.deleteitem .content .action .no {
  background-color: rgb(230, 134, 134);
  cursor: pointer;
}
.deleteitem .content .action .yes {
  background-color: #5964E0;
  margin-left: 1.25rem;
  cursor: pointer;
}

.dupitem {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 12.5rem;
  margin-bottom: 6.25rem;
}
.dupitem .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25rem;
  height: auto;
  background-color: white;
  padding: 1.875rem;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.dupitem .content .action {
  display: flex;
  width: 100%;
  margin-top: 1.875rem;
  justify-content: flex-end;
  margin-right: 3.125rem;
}
.dupitem .content .action > * {
  padding: 0.3125rem 0.625rem;
  color: white;
  border-radius: 5px;
}
.dupitem .content .action .no {
  background-color: rgb(230, 134, 134);
  cursor: pointer;
}
.dupitem .content .action .yes {
  background-color: #5964E0;
  margin-left: 1.25rem;
  cursor: pointer;
}