.ctype_container{
    margin-top: rem(25);
    display: flex;
    justify-content: flex-end;
    @include breakpoint-down(medium) {
        margin-top: rem(45);
    }
   
    .customertype{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        @include breakpoint-down(small) {
           justify-content:flex-end;
        }
        span {
            font-size: rem(13);
            font-weight: bold;
            border-radius: rem(20);
            cursor: pointer;
            padding: rem(7) rem(18);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .x{
            background-color: rgb(230, 134, 134);
            padding: rem(7) rem(10);
            margin-right: rem(10);
            color: white;
            @include breakpoint-down(small) {
                transform: scale(0.8);
            }
        }
        .Retailer{
            background-color: #4760B9;
            color: white;
            margin-right: rem(10);
            @include breakpoint-down(small) {
                transform: scale(0.8);
            }
        }
        .End-consumer{
            background-color: #F2D5A3;
            @include breakpoint-down(small) {
                transform: scale(0.8);
            }
            
        }

    }
}