.login{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: rem(900);
    height: rem(400);
    top: rem(100);
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #373740;
    border-radius: rem(10);
    color: white;

    &::before{
        content: "Log in";
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: rem(80);
        height: rem(40);
        border-radius: rem(10);
        top: -50%;
        left: 40px;
        background-color: #000;
        font-weight: bolder;
    }
   h2{
    width: rem(320);
    transform: translateX(-30%);
    padding: rem(30);
    font-size: rem(30);
   }
   .form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: rem(350);
    height: rem(200);
    transform: translateX(-20%);
    background-color: #000;
    padding: rem(25);
    border-radius: rem(10);
    input{
        outline: none;
        height: rem(30);
        &:last-child{
            margin-bottom: rem(10);
        }
    }
    .action{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .loginbtn{
            padding: rem(5)
        }
    }

   }
}