.main{
    margin-top: rem(20);

    .gt{
        display: flex;
        align-items: center;
        margin-bottom: rem(50);
        h2{
            font-weight: 900;
            font-size: rem(30);
            margin-right: rem(30);
        }
        p{
            padding: rem(4) rem(14);
            background-color: #FF8059;
            border-radius: rem(20);
            font-size: rem(13);
            color: white;
            font-weight: bolder;
        }
        
    }

    .itemtype{
        display: flex;
        flex-direction: column;
        .typename{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name{
                display: flex;
                h3{
                    font-weight: 900;
                    font-size: rem(22);
                    margin-right: rem(20);
                }
                p{
                    padding: rem(4) rem(14);
                    background-color: #8DFF70;
                    border-radius: rem(20);
                    font-size: rem(13);
                    font-weight: bolder;
                }
                
            }
            .more{
                cursor: pointer;
                font-size: rem(25);
                color: #2B79C1;
            }
            
           
        }

        .item_container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            // .pre .next {
            //     cursor: pointer;
            // }

            .items{
                display: flex;
                
            }

            .item{
                display: flex;
                flex-direction: column;
                width: rem(170);
                height: rem(240);
                background-color: #373740;
                padding: rem(18) rem(22);
                margin-top: rem(40);
                border-radius: rem(10);
                color: white;
                margin-left: rem(30);
                &:first-child{
                    margin-left: rem(0);
                }
                
                .tag{
                 
                }
               
                .name{
                    margin-bottom: rem(5);
                    font-size: larger;
                    font-weight: bold;
                }
                .img{
                    // width: rem(180);
                    height: rem(150);
                    margin-bottom: rem(10);
                    img{
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                    }
                }
                .action{
                    display: flex;
                    justify-content: space-between;
                    &>*{
                        font-size: rem(20);
                    }
                }

        
                }
            }
        }
       
    }
